<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECommerce-ShoppingCart | Korsat X Parmaga</title>

    <!-- box icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- styles  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>
<body>
    <!-- HEADER  -->
    <header>
        <!-- NAV  -->
        <div class="nav container">
            <a href="#" class="logo">
                <img src="{{ url_for('static', filename='assets/img/akbank.png') }}" alt="Akbank Logo" width="40" height="30">
            </a>
            <!-- CART ICON  -->
            <i class='bx bx-shopping-bag' id="cart-icon"></i>
            <!-- CART  -->
            <div class="cart">
                <h2 class="cart-title">Your Cart</h2>
                <!-- CONTENT  -->
                <div class="cart-content"></div>
                <!-- TOTAL   -->
                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">$0</div>
                </div>
                <!-- BUY BUTTON  -->
                <button type="button" class="btn-buy">Buy Now</button>
                <!-- CART CLOSE  -->
                <i class='bx bx-x' id="cart-close"></i>
            </div>
        </div>
    </header>
    <!-- SHOP SECTION  -->
    <section class="shop container">
        <h2 class="section-title">Akbank İle Hayatınızı Kolaylaştırın</h2>
        <!-- CONTENT  -->
        <div class="shop-content">
            <!-- BOX 1 -->
            <div class="product-box" data-product-id="1">
                <img src="{{ url_for('static', filename='assets/img/product1.png') }}" alt="" class="product-img">
                <h2 class="product-title">Kredi Kartı</h2>
                <span class="product-price">$79.5</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!-- BOX 2 -->
            <div class="product-box" data-product-id="2">
                <img src="{{ url_for('static', filename='assets/img/product2.jpg') }}" alt="" class="product-img">
                <h2 class="product-title">Konut Kredisi</h2>
                <span class="product-price">$59.5</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!-- BOX 3 -->
            <div class="product-box" data-product-id="3">
                <img src="{{ url_for('static', filename='assets/img/product3.jpg') }}" alt="" class="product-img">
                <h2 class="product-title">Bireysel Kredi</h2>
                <span class="product-price">$29.5</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!-- BOX 4 -->
            <div class="product-box" data-product-id="4">
                <img src="{{ url_for('static', filename='assets/img/product4.jpg') }}" alt="" class="product-img">
                <h2 class="product-title">İşletme Kredisi</h2>
                <span class="product-price">$105</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!-- BOX 5 -->
            <div class="product-box" data-product-id="5">
                <img src="{{ url_for('static', filename='assets/img/product5.jpg') }}" alt="" class="product-img">
                <h2 class="product-title">Hisse Senedi</h2>
                <span class="product-price">$95</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!-- BOX 6 -->
            <div class="product-box" data-product-id="6">
                <img src="{{ url_for('static', filename='assets/img/product6.jpg') }}" alt="" class="product-img">
                <h2 class="product-title">Banka Hesabı</h2>
                <span class="product-price">$1400</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!-- BOX 7 -->
            <div class="product-box" data-product-id="7">
                <img src="{{ url_for('static', filename='assets/img/product7.jpg') }}" alt="" class="product-img">
                <h2 class="product-title">Emeklilik planları ve sigortalar</h2>
                <span class="product-price">$1700</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!-- BOX 8 -->
            <div class="product-box" data-product-id="8">
                <img src="{{ url_for('static', filename='assets/img/product8.jpg') }}" alt="" class="product-img">
                <h2 class="product-title">Finansal Danışmanlık</h2>
                <span class="product-price">$110.5</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
        </div>
    </section>
    <!-- link js  -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</body>
</html>